# L2 Python Introduction

### 1. Variables and math in Python

#### 1.1 Math operators

In [42]:
# add two integers
2 + 2

4

In [43]:
# multiply two integers
2 * 2

4

In [44]:
# spaces don't matter here, but keep them consistent (PEP8 good practice)
2*3   +   10

16

In [45]:
# divide two integers
6 / 3

2.0

In [46]:
# raise 2 to the 4th power
2 ** 4

16

In [47]:
# the mod function returns the remainder after division. Useful to check divisibility.
10 % 3

1

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| *  | multiplication |
| **  | to the power of |
| %  | mod |

#### 1.2 Working with variables

In [48]:
# variables, such as x here, contain values and their values can vary
x = 5

In [49]:
# to inspect a value, just call it
x

5

In [50]:
# you can perform calculations on variables
x + 3

8

In [51]:
# what's the value of x now?
x

5

In [52]:
# to update the value of a variable, you have to do assignment again
x = x + 3

In [53]:
# now what's the value of x?
x

8

In [54]:
# create a new variable y from a calculation involving x
y = x + 2
y

10

In [55]:
# calling two variables only displays the last one
x
y

10

In [56]:
# use the print() function to output value(s) to the console
print(x)
print(y)

8
10

In [57]:
# separate two values by commas to output on the same line
print(x,y)

8 10

In [58]:
# you can also print the output of an expression
print(x * y)

80

NOTE: Use valid variable names!
* Variable names can contain letters, numbers, and the underscore character.
* You can't begin variable names with a digit, or use any of Python's _reserved words_ (eg. False, list, None, zip, else, class, ...).
* Don't use a space in the middle of a variable name.

| result | variable name |
|----|----|
| Valid | my_float, xyz_123, zip_code |
| Error! | my float, 123_xyz, zip |

#### 1.3 Getting help

In [59]:
# get iPython help on an expression by putting ? after it
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

### 2. Basic data types: int, float, string
These object types are the most basic building blocks when handling data in Python. Note that Python is an object-oriented language. Each object has a type, which determines what can be done with it. For instance, an object of type _int_ can be added to another _int_.

In compiled languages like C++, the programmer has to declare the type of any variable before using it. By contrast, Python will **infer the type of variable you want** at run-time. It does this based on what characters you pass, whether they are surrounded by quote marks or brackets. This keeps the syntax much more 'natural' - but take care to learn the rules your Python interpreter applies.

In [60]:
# integers are whole numbers
x = 10
type(x)

int

In [61]:
# floats are floating point (or decimal) numbers
y = 4.25
type(y)

float

In [62]:
# strings are sets of characters in a row, denoted by single or double quotes
course_name = 'Python for Data Science'

In [63]:
# another data type is a Boolean, which has the possible values True or False

my_enrollment_status = True
type(my_enrollment_status)

bool

In [64]:
# use isinstance to check an object's type
isinstance(course_name, int)

False

#### 2.1. Manipulating strings

In [65]:
# this is a string. It can be assigned to a variable. 
mystring = 'I am a string. Humans can interpret me easily'

In [66]:
print(mystring)

I am a string. Humans can interpret me easily

In [67]:
# strings can added together (concatenated)
add_chunk = '. I love strings'
mystring + add_chunk

'I am a string. Humans can interpret me easily. I love strings'

In [68]:
# but they can't be subtracted
mystring - add_chunk

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [69]:
# they can be repeated with *
add_chunk * 3

'. I love strings. I love strings. I love strings'

In [70]:
# Each object type has a set of 'methods' (ie. built-in operations) attached to it. 
# Access these with dot notation.

mystring.split('.')

['I am a string', ' Humans can interpret me easily']

In [71]:
# the .replace() method is handy too. This operation can be chained for entertainment value:
print(mystring)

new_string = mystring.replace("I am","Dharana is").replace("string", "human").replace("Humans", "Other humans").replace("me","her")

print(new_string)
print(new_string.replace('Dharana', 'Nicholas').replace('easily','from time to time').replace(' her ',' him '))

I am a string. Humans can interpret me easily
Dharana is a human. Other humans can interpret her easily
Nicholas is a human. Other humans can interpret him from time to time

In [72]:
# the built-in function len() returns the number of characters

len(new_string)

57

In [73]:
# use .format() to print variables alongside strings
# to keep your outputs neat, you might want to limit the decimal places
value_to_print=4.123456
print("My output: {}".format(value_to_print))
print("My output: {:.3f}".format(value_to_print))

My output: 4.123456
My output: 4.123

#### 2.2 Converting between types
Often you need to convert variables to other types, especially to make them work together. Use the _int()_, _str()_ or _float()_ functions to convert to these data types.

In [77]:
# sometimes Python will change a variable's data type for you:

my_salary = 200000
print(my_salary, type(my_salary))

200000 <class 'int'>

In [78]:
# Division always returns a float

daily_rate = my_salary / 365
print(daily_rate, type(daily_rate))

547.945205479452 <class 'float'>

In [79]:
# be careful, changing a float to an integer lops off everything after the decimal place
int(daily_rate)

547

In [80]:
# you probably want to round up instead
round(daily_rate)

548

In [81]:
# you can't concatenate a string and an integer

address = "1808 H ST NW, DC"
WB_zip = 20037

address + " " + WB_zip

TypeError: can only concatenate str (not "int") to str

In [82]:
# instead, change the integer to a string first
WB_zip = str(WB_zip)
type(WB_zip)

str

In [83]:
# does it work now?
address + " " + WB_zip

'1808 H ST NW, DC 20037'

### 3. Data types: lists
Ints, floats and strings are the most basic data structures (think of them as atoms). Next, we'll look at data types that combine those atoms. Lists, tuples and dictionaries are compound data structures that group together other items.

|Data structure | Properties| Syntax|
|----|----|----|
|List | Ordered, mutable sequence | mylist = [1,2,3] |
|Tuple | Ordered, immutable sequence | mytuple = (1,2,3) |
|Set | Unordered set of unique values | myset = set(1,2,3) |
|Dictionary | Mutable set of key, value pairs | mydict = {'first_value':1, 'second_value:2} |

#### 3.1 Manipulating lists
Lists are collections of items. To create one, put a series of items in square brackets, separated by commas. Lists can contain items of different types. They are helpful when your data has an order and may need to be changed in place.

In [84]:
# create a list of strings
weekdays = ['monday','tuesday','wednesday','thursday','friday']
weekdays

['monday', 'tuesday', 'wednesday', 'thursday', 'friday']

In [85]:
# Lists are ordered collections; they are indexed starting at zero.
# To get an individual item, use square brackets and the appropriate index value.
weekdays[0]

'monday'

In [86]:
# select slices (eg. the first to the fourth item) with square bracket notation

weekdays[0:3]

['monday', 'tuesday', 'wednesday']

In [87]:
# check the type of items in a list
type(weekdays[3])

str

In [88]:
# a list is a mutable, you can change its contents in-place
weekdays[3] = 'thursday - practice Python!'
weekdays

['monday', 'tuesday', 'wednesday', 'thursday - practice Python!', 'friday']

In [89]:
# add an item to a list with append()
weekdays.append('saturday')
weekdays

['monday',
 'tuesday',
 'wednesday',
 'thursday - practice Python!',
 'friday',
 'saturday']

In [90]:
# test for a value in your list
'saturday' in weekdays

True

In [91]:
# use .remove() to clean up the weekdays list

weekdays.remove('saturday')
weekdays

['monday', 'tuesday', 'wednesday', 'thursday - practice Python!', 'friday']

In [92]:
# concatenate two lists
odds = [1,3,5]
evens = [2,4,6]
all_nums = odds + evens
all_nums

[1, 3, 5, 2, 4, 6]

In [ ]:
# the built-in function len() also applies to lists
len(all_nums)

### 4. Logic and control flow - quick intro

Definition of **control flow**:
* In a simple script, program execution starts at the top and executes each instruction in order. 
* **Control flow** statements can cause the execution to loop and skip instructions based on conditions.

#### 4.1 Loops and iterables
Definition: an **iterable** is an object capable of returning its members one at a time. Strings, lists and dictionaries are all iterables.

A **for loop** runs a block of code repeatedly "for" each item in an iterable. End the declaration with : and indent the subsidiary code.

In [ ]:
for color in ['red','green','blue']:
    print("I love " + color)

In [ ]:
# or characters in a string
for letter in 'abcd':
    print(letter.upper())

In [ ]:
# the range() function produces a helpful iterator
for n in range(5):
    print("I ate {} donuts".format(n + 1))

In [ ]:
# a while loop allows you to move through part of an iterable until a condition is met

a = 0
while a < 5:
    print('I am small {}'.format(a))
    a += 1

#### 4.2 Logic operators

We test conditions using logic operators.

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| <= | less than or equal to |
| > | greater than |
| >= | greater than or equal to |

In [ ]:
# NOTE: We declare variables using '='
a = 5
b = 7

In [ ]:
# But compare them using '=='
a == b

In [ ]:
# Test whether a does not equal b
a != b

In [ ]:
# Logic expressions evaluate to True or False (datatype: Boolean)

test = b > a

test

In [ ]:
type(test)

#### 4.3 Conditional statements with if

My pet Python is a vegetarian. She will test whether variable 'food' is 'burger', 'chicken' or 'veg', then decide whether to eat.

Do this with 'if', 'elif' (else if), and 'else'.

In [ ]:
food = 'veg'

In [ ]:
if food == 'veg':
    print ('yum')
elif food == 'chicken':
    print ('hmm maybe')
elif food == 'burger':
    print ('no thanks')
else:
    pass

NOTE: Here's how the structure works:
* start with an 'if' statement, specifying the logical test to apply
* make sure your 'if' statement ends with :
* **indent the conditional code block.** Whatever code should be executed if the condition is true, indent it with a tab.
* test additional actions using 'elif', and any other actions with 'else'.

#### 4.4 Testing conditions inside a loop
Combining loops with logic allows you to build more sophisticated code structures:

In [ ]:
days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

for day in days:
    if day == 'Sat':
        location = '--> Beach!'
    elif day == 'Sun':
        location = '--> My sofa!'
    else:
        location = '--> MC5-215B'
    print(day, location)

In [ ]:
# EXAMPLE 2: is your pet allowed?

authorized_pets = ['small dog', 'cat', 'hamster','budgerigar']

print("Welcome to Nick's Apartment Block.")
my_pet = input("Type your pet's breed to see if it's accepted:")

if my_pet in authorized_pets:
    print("Congratulations, your {} is welcome here!".format(my_pet))
else:
    print("\nSorry your {} is NOT ACCEPTED".format(my_pet))