<a href="https://colab.research.google.com/github/nyp-sit/sdaai-iti103/blob/master/2021S1_ml_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ITI103: Essentials of Machine Learning - Assignment 1

## Introduction

In this assignment, you will work a data set based on [housing prices in Ames, Iowa](https://www.kaggle.com/c/house-prices-advanced-regression-techniques). It is a modernized alternative to the well-known Boston Housing dataset. 

You may access the dataset from [https://raw.githubusercontent.com/nyp-sit/sdaai-iti103/master/assignments/data/ames_house_prices_simple.csv) For a detailed description of each field (feature), you can refer to the following [file](https://raw.githubusercontent.com/nyp-sit/sdaai-iti103/master/assignments/data/data_description.txt)

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 200) 
pd.set_option('display.max_rows',200)

### Question 1 (2 marks)

Complete the code below and answer the following: 
- How many rows and columns are there?
- What are the different data types of the columns? 

_Type your answer here_
1379 Rows
40 Columns (0-39)

In [2]:
## START YOUR CODE

# Import the data 
df = pd.read_csv('https://raw.githubusercontent.com/nyp-sit/sdaai-iti103/master/assignments/data/ames_house_prices_simple.csv')

# Display value counts of each data type
df.info()
## END YOUR CODE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379 entries, 0 to 1378
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OverallQual    1379 non-null   int64
 1   GrLivArea      1379 non-null   float64
 2   TotalBsmtSF    1379 non-null   float64
 3   2ndFlrSF       1379 non-null   float64
 4   1stFlrSF       1379 non-null   float64
 5   BsmtFinSF1     1379 non-null   float64
 6   GarageCars     1379 non-null   int64
 7   FullBath       1379 non-null   int64
 8   GarageArea     1379 non-null   float64
 9   LotArea        1379 non-null   float64
 10  MasVnrArea     1379 non-null   float64
 11  YearBuilt      1379 non-null   int64
 12  YearRemodAdd   1379 non-null   int64
 13  GarageYrBlt    1379 non-null   float64
 14  BsmtUnfSF      1379 non-null   float64
 15  BsmtQual       1379 non-null   object
 16  LotFrontage    1379 non-null   float64
 17  OpenPorchSF    1379 non-null   float64
 18  OverallCond    1379 non-null   int64
 19  GarageType     1379 non-null   object
 20  WoodDeckSF     1379 non-null   float64
 21  TotRmsAbvGrd   1379 non-null   int64
 22  MSSubClass     1379 non-null   int64
 23  MoSold         1379 non-null   int64
 24  BsmtExposure   1379 non-null   object
 25  LotShape       1379 non-null   object
 26  MSZoning       1379 non-null   object
 27  BedroomAbvGr   1379 non-null   int64
 28  MasVnrType     1379 non-null   object
 29  ExterQual      1379 non-null   object
 30  HalfBath       1379 non-null   int64
 31  FireplaceQu    1379 non-null   object
 32  KitchenQual    1379 non-null   object
 33  Condition1     1379 non-null   object
 34  BldgType       1379 non-null   object
 35  SaleCondition  1379 non-null   object
 36  Street         1379 non-null   object
 37  PavedDrive     1379 non-null   object
 38  SaleType       1379 non-null   object
 39  SalePrice      1379 non-null   float64
dtypes: float64(14), int64(11), object(15)
memory usage: 431.1+ KB

### Question 2 (5 marks)

Examine the column dtype and read the column description in data_description.txt.  Determine which columns are categorical. Create a list that contains the column names that are categorical.

In [3]:
## START YOUR CODE

# Get the list of column names that are object type
categorical_cols = [*df.columns.values[np.where(df[df.columns.values].dtypes == 'object')]]

# add additional column name that you think should be categorical
categorical_cols = [*categorical_cols, 
  'MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 
  'GarageYrBlt', 'MoSold']

# YrSold exist in the data_description.txt, but is not part of the csv.
# I consider the Year (YearBuilt, YearRemodAdd, GarageYrBlt) and Month (MoSold) as categorical data as I made an assumption that it's used to group data together.

## END YOUR CODE

### Question 3 (8 marks)

Think about the 'YearBuilt' and 'MoSold' columns (which represent the year the house is built and the month it was sold). They are of numeric (integer) type. Should you transform it?  Give your reason for the answer.

If your answer is 'Yes', write the code to transform it.

_Type your answer here_

Yes.
We need to tranform them so as to:
1) Prevent Overftting later on
2) ADD IN LATER

In [4]:
# Make a copy of the original dataframe and do all the processing on the copy 
# use the data for subsequent cells

data = df.copy()

In [7]:
## START YOUR CODE HERE ## 

# find how many different years are there to decide if need to bin it

# Find out how many unique years in YearBuilt
print('unique years:', data['YearBuilt'].nunique())

# Need to know the min and max range to better understand how we should cut
print('YearBuilt min/max range: {0}/{1}'.format(data['YearBuilt'].min(),data['YearBuilt'].max()))

# we can either bin the years into pre-1900, 1901-1920, 1921-1930, etc. or simple create 10 bins
year_labels = ['pre-1900', "1901-1920", '1921-1930', '1931-1940', '1941-1950', "1951-1960", '1961-1970', '1971-1980', '1981-1990', '1991-2000', '2001-2010']
data["YearBuiltGrouped"] = pd.cut(data['YearBuilt'],[0, 1900, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010], labels=year_labels)

print(data["YearBuiltGrouped"].value_counts().sort_index())

# One way to bin the months is to divide the months into different seasons, if we think there is some seasonal pattern 
print("unique months = ", data['MoSold'].nunique())

spring = [3,4,5]
summer = [6,7,8]
autumn = [9,10,11]
winter = [12,1,2]

def month_to_season(month):
    if month in spring: 
        return 'spring'
    if month in summer:
        return 'summer'
    if month in autumn:
        return 'autumn'
    if month in winter:
        return 'winter'
    
data['BinnedMoSold'] = data['MoSold'].map(month_to_season)

# drop all the transformed columns
data = data.drop(columns=['YearBuiltGrouped', 'BinnedMoSold'])
## END YOUR CODE HERE ##

unique years: 109
YearBuilt min/max range: 1880/2010
pre-1900      21
1901-1920     73
1921-1930     66
1931-1940     55
1941-1950     73
1951-1960    157
1961-1970    176
1971-1980    164
1981-1990     60
1991-2000    173
2001-2010    361
Name: YearBuiltGrouped, dtype: int64
unique months =  12

In [8]:
data.head()

,OverallQual,GrLivArea,TotalBsmtSF,2ndFlrSF,1stFlrSF,BsmtFinSF1,GarageCars,FullBath,GarageArea,LotArea,MasVnrArea,YearBuilt,YearRemodAdd,GarageYrBlt,BsmtUnfSF,BsmtQual,LotFrontage,OpenPorchSF,OverallCond,GarageType,WoodDeckSF,TotRmsAbvGrd,MSSubClass,MoSold,BsmtExposure,LotShape,MSZoning,BedroomAbvGr,MasVnrType,ExterQual,HalfBath,FireplaceQu,KitchenQual,Condition1,BldgType,SaleCondition,Street,PavedDrive,SaleType,SalePrice
0,7,1710.0,856.0,854.0,856.0,706.0,2,2,548.0,8450.0,196.0,2003,2003,2003.0,150.0,Gd,65.0,61.0,5,Attchd,0.0,8,60,2,No,Reg,RL,3,BrkFace,Gd,1,None,Gd,Norm,1Fam,Normal,Pave,Y,WD,208500.0
1,6,1262.0,1262.0,0.0,1262.0,978.0,2,2,460.0,9600.0,0.0,1976,1976,1976.0,284.0,Gd,80.0,0.0,8,Attchd,298.0,6,20,5,Gd,Reg,RL,3,None,TA,0,TA,TA,Feedr,1Fam,Normal,Pave,Y,WD,181500.0
2,7,1786.0,920.0,866.0,920.0,486.0,2,2,608.0,11250.0,162.0,2001,2002,2001.0,434.0,Gd,68.0,42.0,5,Attchd,0.0,6,60,9,Mn,IR1,RL,3,BrkFace,Gd,1,TA,Gd,Norm,1Fam,Normal,Pave,Y,WD,223500.0
3,7,1717.0,756.0,756.0,961.0,216.0,3,1,642.0,9550.0,0.0,1915,1970,1998.0,540.0,TA,60.0,35.0,5,Detchd,0.0,7,70,2,No,IR1,RL,3,None,TA,0,Gd,Gd,Norm,1Fam,Abnorml,Pave,Y,WD,140000.0
4,8,2198.0,1145.0,1053.0,1145.0,655.0,3,2,836.0,14260.0,350.0,2000,2000,2000.0,490.0,Gd,84.0,84.0,5,Attchd,192.0,9,60,12,Av,IR1,RL,4,BrkFace,Gd,1,TA,Gd,Norm,1Fam,Normal,Pave,Y,WD,250000.0

### Question 4 (2 marks)

Use appropriate encoding for the categorical columns.

In [9]:
## START YOUR CODE HERE ## 
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

# Data with a logical ordering will be handled by OrdinalEncoder
# We doesn't need to encode OverallQual and OverallCond as they are already in a int with running order.
ordinalColumns = ['ExterQual', 'BsmtQual', 'BsmtExposure', 'KitchenQual', 'FireplaceQu']

# Data without any logical ordering will be handled by OneHotEncoder. 
oneColumns = ['MSSubClass', 'MSZoning', 'Street', 'LotShape', 'Condition1', ]

# Using the default auto categorisation for OridnalEncoder, if unable to get good result, come back here to tweet.
column_trans = make_column_transformer((OneHotEncoder(handle_unknown='ignore'), oneColumns),
                                      (OrdinalEncoder(), ordinalColumns),
                                      remainder='passthrough')

## END YOUR CODE HERE ##

### Question 5 (5 marks)
- Separate your data into features and target label ('SalePrice') columns. 
- Create train/test splits. Decide on the most appropriate splitting strategy.

In [14]:
## START YOUR CODE HERE ## 
from sklearn.model_selection import train_test_split

features = data.drop('SalePrice', axis=1)
labels = data['SalePrice'].copy()

# Pass in the Random state to ensure that our test and train data will never change. 
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=9)
## END YOUR CODE HERE ##

### Question 6 (7 marks)

* Scale the all the numerical (non categorical) features using one of the following: `StandardScaler`, `MinMaxScaler`
* Be sure to fit the scaler on *ONLY* the training data, but then apply it to both the train and test data identically.
* Optional: You may also want to calculate the skewness of your numeric features and decide if you need to do log transform.

In [15]:
numeric_cols = []

for col in X_train.columns:
    if X_train[col].dtype == np.float64:
        numeric_cols.append(col)
print(numeric_cols)

['GrLivArea', 'TotalBsmtSF', '2ndFlrSF', '1stFlrSF', 'BsmtFinSF1', 'GarageArea', 'LotArea', 'MasVnrArea', 'GarageYrBlt', 'BsmtUnfSF', 'LotFrontage', 'OpenPorchSF', 'WoodDeckSF']

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# num_pipeline = Pipeline([('std_scaler', StandardScaler())])
# full_pipeline = ColumnTransformer([('num', num_pipeline, numeric_cols)])
# X_train = full_pipeline.fit_transform(X_train)
# X_train

print(X_train[numeric_cols].skew())
scaler = StandardScaler()
scaler.fit_transform(X=X_train[numeric_cols], )
# newData
# StandardScalar

GrLivArea       1.367761
TotalBsmtSF     1.751901
2ndFlrSF        0.810282
1stFlrSF        1.461749
BsmtFinSF1      1.825757
GarageArea      0.787995
LotArea        11.662063
MasVnrArea      2.660570
GarageYrBlt    -0.634782
BsmtUnfSF       0.951913
LotFrontage     3.082204
OpenPorchSF     2.154667
WoodDeckSF      1.537001
dtype: float64

array([[ 0.74427699, -0.13550519,  1.5334027 , ..., -0.22523636,
         0.16627021, -0.75529574],
       [-0.53818252,  0.40435267, -0.7919565 , ...,  0.02141247,
        -0.74020992, -0.75529574],
       [ 1.28071807,  1.94104351, -0.7919565 , ...,  2.31409652,
        -0.74020992,  1.6258011 ],
       ...,
       [-1.18806455, -0.35279238, -0.7919565 , ..., -0.89471176,
        -0.74020992, -0.12244608],
       [-0.4881916 , -0.039182  , -0.7919565 , ...,  0.83698701,
        -0.48337389,  2.1241702 ],
       [ 0.18860862, -0.03694193, -0.7919565 , ..., -0.85947622,
        -0.74020992, -0.75529574]])

### Question 7 (5 marks)

* Fit a Linear Regression model on the training data. Apply regularization if necessary. 
* Calculate the mean squared error on both the train and test set
* Calculate the R-square error on both train and test set 

What can you conclude from the result? 

_Type your answer here_

In [ ]:
## START YOUR CODE HERE

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor



## END YOUR CODE

### Question 8 (5 marks)

* Now train a RandomForestRegressor by using `RandomForestRegressor(n_estimators=30)`
* Find the MSE and R-sqaure score on both train and test set.

In [ ]:
## START YOUR CODE HERE ##



## END YOUR CODE HERE ##

### Question 9 (2 marks)

Plot predicted prices vs actual prices for the RandomForestRegressor model.

In [ ]:
## START YOUR CODE HERE ## 
import matplotlib.pyplot as plt
import seaborn as sns


## END YOUR CODE HERE ##

### Question 10 (2 marks)

What can you conclude from the plot?

_Type your answer here_

### Question 11 (2 marks)

Noticed that we did not ask you to evaluate the result on the validation set, as our train set is pretty small (less than 1000 samples). We can however, use K-fold cross-validation to evaluate our model. 

- Use 5-fold cross-validation to train and evaluate our model (use RandomForestRegressor)
- Compute the average MSEs across all folds.

In [ ]:
from sklearn.model_selection import KFold


# We use enumerate() to return also the index position of the list so that we can print out the fold number