### L3: Data structures and control flow - towards more data
This session goes into more depth on strings, numerical data and compound data types like lists. Building your agility with these structures is crucial for what follows! We'll begin to handle data at scale through loops and list comprehensions.

### 1: Strings and escape characters
Strings can be defined several ways, such as with single quotes or double quotes. Why? Strings themselves may include quotes. The resulting ambiguity can break your code. All programming languages have tricks to get around this issue:

In [1]:
# One string, two ways

print('Yes, they said.')
print("Yes, they said.")

Yes, they said.
Yes, they said.

In [5]:
# An easy way to trip up

print(''Yes', they said.')

SyntaxError: ignored

In [4]:
# If your string contains one type of quote, define it with the other type

print("'Yes', they said")

'Yes', they said

In [6]:
# backlash is an 'escape character'. It negates any special properties of the character that follows:

print('\'Yes\', they said')

'Yes', they said

In [3]:
# ... if followed by n, it creates a new line
print("They said:\nYes")

They said:
Yes

In [7]:
# ... or a tab if followed by t
print("They said:\tYes")

They said:	Yes

In [9]:
# careful with unintended escape characters in filenames!

string_will_fail = 'C:\Users\charl\Documents\CE\RAM\OneDrive_1_3-6-2019\QXN\RN'

SyntaxError: ignored

In [10]:
# adding r denotes 'raw string'

string_will_work = r'C:\Users\charl\Documents\CE\RAM\OneDrive_1_3-6-2019\QXN\RN'

### 2. Control the `print` statement
`print()` is a built-in function that echos objects to the console. When printing strings, use the .format() method. Putting this at the end of a string let's you:
* substitute variables into the string;
* control how they're formatted (eg. decimal places).

In [1]:
print("A string: that was easy")

A string: that was easy

In [2]:
print(42, "that was also easy")

42 that was also easy

In [3]:
print(20000/365, "that's not ideal")

54.794520547945204 that's not ideal

In [4]:
# include variables inside strings with {}, then (after the string), .format()
x = 42

print("Here's a number: {}. It's less than 50".format(x))

Here's a number: 42. It's less than 50

In [5]:
# you can include multiple substitutions, and they don't have to be variables (operations are fine)

print("Is {} really less than 50? Answer: {}.".format(x, x<50))

Is 42 really less than 50? Answer: True.

Note: `.format()` actually has a mini-language associated with it, check the documentation [here](https://pyformat.info/).

In [6]:
# just memorize this one for now:

print("Daily salary is approximately {:.2f} (two decimal places)".format(20000/365))

Daily salary is approximately 54.79 (two decimal places)

### 3. Indexing and slicing
Several data types are defined as 'sequences.' They share a common approach to selecting their elements using square bracket notation. This powerful notation works across strings, lists, arrays and DataFrames:

In [7]:
# to get one character from a string, put the index number in square brackets directly after the variable name
language = 'Python'
language[0]

'P'

In [8]:
# index values can be negative.
language[-1]

'n'

Index values point between characters. The left edge of the first character is 0. Python has six characters, so the right edge of the last character is index 6.

In [1]:
#       +---+---+---+---+---+---+
#       | P | y | t | h | o | n |
#       +---+---+---+---+---+---+
#       0   1   2   3   4   5   6
#          -6  -5  -4  -3  -2  -1

# credit: www.python.org/3/tutorial

You can 'slice' strings and other sequences, using the start and end index

In [10]:
# slices give you all elements from the start index, up to (but not including) the end index

language[0:4]

'Pyth'

What happens if you leave out the start or end index while slicing? Python will use default values instead. Take a sequence of length `n`. For start position, it will default to 0. For end position, it will default to `n`.

In [11]:
# everything up to fourth index
language[:4]

'Pyth'

In [12]:
# fourth position onwards
language[4:]

'on'

In [13]:
# fourth from last, up to end of string
language[-4:]

'thon'

Sneak preview: You can use the same index notation with higher dimensional datastructures, eg. a 3D array (eg. a stack of rasters: latitude, longitude, time, temperature).

### 3. An aside: extracting data from messy strings

In [14]:
# say you get a large column of ZIP codes, but in a messy format like this
zip_code1 = "Fred: ZIP 20022-0049"
zip_code2 = "Margaret: ZIP 20009-0132"

In [15]:
# we're interested in this part:
zip_code1[10:15]

'20022'

In [16]:
# how could we systematicaly pull out the key 5 digits, to create a clean list of zips?

To crack a problem like this, you could:
* Use tab completion to list available string methods
* Ask StackOverflow
* Check the [documentation](https://docs.python.org/2/library/stdtypes.html#string-methods)

In [17]:
# Get help on the .split() method

zip_code1.split?

In [18]:
# a quick solution: split each string twice (using a different separator):

answer = zip_code1.split()[2].split('-')[0]

In [19]:
# then make it an integer:

int(answer)

20022

Operating on data at scale requires more firepower: eg. list comprehensions and functions.

### 4: Test conditions with Boolean logic
To build up operations on larger datasets, more control flow tricks are helpful: including Boolean logic.

The statement `a == b` asks Python to evaluate whether variable a equals variable b; the interpreter will return True or False.

Similar statements would be `a > b`, `a >= b`, or `a != b`.

In [20]:
a = 6
b = 4

print("Dear Python, please evaluate the statement 'a > b' for me.")

print("YOUR ANSWER: [drum roll ...]", a > b)

Dear Python, please evaluate the statement 'a > b' for me.
YOUR ANSWER: [drum roll ...] True

The `and`, `or` and `not` operators check whether combinations of statements are true at the same time.

In [21]:
month = 'July'
hour = 14

In [22]:
(month == 'July') and (hour < 12)         # is it a morning in July?

False

In [23]:
(month == 'July') or (hour < 12)          # is it either a morning, or in July?

True

In [24]:
not(hour < 12) and (month == 'July')     # is it not a morning, and in July?

True

You can apply Boolean logic to lists. This is the idea of Boolean masking (we'll return to this later - useful to filter datasets based on conditions, or when handling raster data).

In [25]:
some_values = [3, 5, 6, 8, 9, 11, 14, 16]       # Let's get only even numbers

In [26]:
mask = []

for value in some_values:
    mask.append(value % 2 == 0)                 # is the number divisible by two?

In [27]:
mask

[False, False, True, True, False, False, True, True]

In [28]:
for i in range(len(some_values)):
    if mask[i]:
        print(some_values[i])

6
8
14
16

### 5. Building programs with `if`, `elif` and `else`

We already met `if` constructions. Get the indentation right, and build more sophisticated rules that test multiple conditions.

In [ ]:
# an if statement executes the indented code only if some condition is true

my_value = 11

if my_value > 10:
    print("Number is greater than 10")

In [31]:
# use Boolean operators to test multiple conditions

if (my_value > 10) and (my_value < 15):
    print("Number is between 10 and 15")

Number is between 10 and 15

In [30]:
# if the first if statement evaluates to false, elif executes a code block if its condition is true
# else executes a code block if no preceding if or elif evaluated to true

if (my_value > 0) and (my_value < 10):
    print("Number is positive and less than 10")
    
elif my_value > 10:
    print("Number is greater than 10")
        
else:
    print("Must be negative or not a number.")

Number is greater than 10

### 6. Error handling

In [ ]:
# What happens if we run the cell above with 'penguin' instead of a number?

In [33]:
# try-except is one method to catch and handle errors

my_list = [5,6,'Sally',10]

for obj in my_list:
    try:
        print('{}'.format(obj + 1))
    except:
        print("I am not a number, I am a  woman name!")

6
7
I am not a number, I am a  woman name!
11

### 7. Iterables and range()

In [34]:
# strings and lists are examples of iterables: they can return their members one-by-one.

for meal in ['Breakfast', 'Snack', 'Dinner']:
    print("{} has {} letters".format(meal, len(meal)))

Breakfast has 9 letters
Snack has 5 letters
Dinner has 6 letters

In [35]:
# range() is another way to generate iterables; it returns an arithmetic series

print("NUMBERS AND THEIR CUBES")
for i in range(5):
    print(i, i**3)

NUMBERS AND THEIR CUBES
0 0
1 1
2 8
3 27
4 64

In [36]:
# as usual, you get all numbers from start point (included) to end point (not included)

print("NUMBERS AND THEIR CUBES")
for i in range(-5, 5):
    print(i, i**3)

NUMBERS AND THEIR CUBES
-5 -125
-4 -64
-3 -27
-2 -8
-1 -1
0 0
1 1
2 8
3 27
4 64

In [37]:
# using range(n+1) often makes sense

print('Give me numbers up to n, where n = 3')

n = 3
for i in range(n+1):
    print(i)

Give me numbers up to n, where n = 3
0
1
2
3

In [2]:
# what happens when you print a range() item?
range(5)

range(0, 5)

In [3]:
# the list() function turns any iterable into a list.   (not ideal if you're counting to 1 million!)
list(range(5))

[0, 1, 2, 3, 4]

In [4]:
# enumerate() lets you loop through an iterable,  keeping track of where you are

meals = ['Breakfast', 'Post-Breakfast Snack','Elevenses', 'Lunch','Tea','Dinner','Bedtime snack']

for n, meal in enumerate(meals):
    print("Meal {} today: {}".format(n + 1, meal))

Meal 1 today: Breakfast
Meal 2 today: Post-Breakfast Snack
Meal 3 today: Elevenses
Meal 4 today: Lunch
Meal 5 today: Tea
Meal 6 today: Dinner
Meal 7 today: Bedtime snack

### 8. Classes and methods (applied to lists)

__Sneak preview of classes:__ Python (as an object oriented language) lets you define __classes__ of objects. A class of objects has in-built functions that can be summoned up quickly (these are called __methods__).
    
Example:
* I define a class `road_network`.
* Each time I type `my_network = road_network(parameter1, parameter 2...)`, I create a new instance of the class.
* Helpful functionality might be (i) calculate total length of roads; (ii) calculate shortest path between two points.
* I write a method `find_shortest_path(start_point, end_point`. This could be accessed from any instance of class `road_network` in future.
* Like this: `my_network.find_shortest_path(my_start_point, my_end_point)`

In [21]:
class Road_Network:
    def __init__(self, arg):
        self.parameters = arg
    
    def find_shortest_path(self, start_point, end_point):
        print('{} {} {}'.format(self.parameters, start_point, end_point))
    

my_network = Road_Network('MyParameter')
my_network.find_shortest_path(1, 2)

MyParameter 1 2

__List methods.__ Lists (and other data types) are implemented as classes. So check out the helpful methods that are at your disposal.

In [22]:
cubes = [1, 8, 27]
cubes

[1, 8, 27]

In [25]:
cubes.insert(0,0)    # insert element at given index

In [27]:
cubes.append(65)     # add element to end of list

In [29]:
cubes.remove(65)    # remove element if it exists

In [33]:
cubes.extend([64,125,216])   # add all the elements of an iterable

In [36]:
cubes.remove(0)

In [44]:
cubes

[1, 8, 27, 64, 125, 216, 64]

In [43]:
cubes.pop()         # return the last element (and remove it)

125

In [45]:
cubes.count(64)    # count how many times an element appears

2

In [46]:
print(cubes)
cubes.clear()       # delete all elements
print(cubes)

[1, 8, 27, 64, 125, 216, 64]
[]

Remember tab complete or question mark to list available methods of a object. Other object types that we'll use extensively: NumPy arrays, Pandas Series, Pandas DataFrames. Each has its own (pretty amazing) set of methods.

### 9. List comprehensions
Return to our zip code example. We have seen many ways to operate on strings or numbers. But how to scale these operations across several hundred (or thousand) examples?

List comprehensions are a concise way to build lists using rules. They apply an operation to a series of items, and package the result in a list.

In [52]:
# first a squares example
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Steps:
* First write the expression to evaluate.
* Then add a `for` statement
* And the sequence to perform the operation on.

In [53]:
# re-write the following as a list comprehension

absolute_cubes = []
for n in range(-100, 101):
    absolute_cubes.append((n**3))

In [54]:
# code here:

[n**3 for n in range(-100, 101)]

[-1000000,
 -970299,
 -941192,
 -912673,
 -884736,
 -857375,
 -830584,
 -804357,
 -778688,
 -753571,
 -729000,
 -704969,
 -681472,
 -658503,
 -636056,
 -614125,
 -592704,
 -571787,
 -551368,
 -531441,
 -512000,
 -493039,
 -474552,
 -456533,
 -438976,
 -421875,
 -405224,
 -389017,
 -373248,
 -357911,
 -343000,
 -328509,
 -314432,
 -300763,
 -287496,
 -274625,
 -262144,
 -250047,
 -238328,
 -226981,
 -216000,
 -205379,
 -195112,
 -185193,
 -175616,
 -166375,
 -157464,
 -148877,
 -140608,
 -132651,
 -125000,
 -117649,
 -110592,
 -103823,
 -97336,
 -91125,
 -85184,
 -79507,
 -74088,
 -68921,
 -64000,
 -59319,
 -54872,
 -50653,
 -46656,
 -42875,
 -39304,
 -35937,
 -32768,
 -29791,
 -27000,
 -24389,
 -21952,
 -19683,
 -17576,
 -15625,
 -13824,
 -12167,
 -10648,
 -9261,
 -8000,
 -6859,
 -5832,
 -4913,
 -4096,
 -3375,
 -2744,
 -2197,
 -1728,
 -1331,
 -1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

__Data wrangling example__

In [55]:
# here's our messy input data
input_data = ["Alex: ZIP 20022-0049", "Margaret: ZIP 20009-0132", "Hermione: ZIP 10009-3214"]

In [56]:
# as a for loop

clean_list = []
for i in input_data:
    clean_list.append(i.split()[2].split('-')[0])

In [58]:
[x.split()[2].split('-')[0] for x in input_data]

['20022', '20009', '10009']

In [60]:
def test_expo(x):
    return x**3

[test_expo(x) for x in range(-10, 10)]

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729]