First step, last's import all the necessary libraries that will be used in this exercise.

In [2]:
# import numpy, matplotlib.pylot and panda
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy

# import arff
import requests, io, zipfile
from scipy.io import arff

# import imputers for handling missing value and encoders
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

After importing, we will start to download our first dataset.

We will be downloading a zip file example, and unzip it.

In [4]:
f_zip = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00212/vertebral_column_data.zip'
r = requests.get(f_zip, stream=True)
Vertebral_zip = zipfile.ZipFile(io.BytesIO(r.content))
Vertebral_zip.extractall()

Do take note that all data are extracted in the same folder as this file.

In [6]:
data = arff.loadarff('column_2C_weka.arff')
df1 = pd.DataFrame(data[0])
print(df1)

     pelvic_incidence  pelvic_tilt  lumbar_lordosis_angle  sacral_slope  \
0           63.027817    22.552586              39.609117     40.475232
1           39.056951    10.060991              25.015378     28.995960
2           68.832021    22.218482              50.092194     46.613539
3           69.297008    24.652878              44.311238     44.644130
4           49.712859     9.652075              28.317406     40.060784
..                ...          ...                    ...           ...
305         47.903565    13.616688              36.000000     34.286877
306         53.936748    20.721496              29.220534     33.215251
307         61.446597    22.694968              46.170347     38.751628
308         45.252792     8.693157              41.583126     36.559635
309         33.841641     5.073991              36.641233     28.767649

     pelvic_radius  degree_spondylolisthesis        class
0        98.672917                 -0.254400  b'Abnormal'
1       114.405425                  4.564259  b'Abnormal'
2       105.985135                 -3.530317  b'Abnormal'
3       101.868495                 11.211523  b'Abnormal'
4       108.168725                  7.918501  b'Abnormal'
..             ...                       ...          ...
305     117.449062                 -4.245395    b'Normal'
306     114.365845                 -0.421010    b'Normal'
307     125.670725                 -2.707880    b'Normal'
308     118.545842                  0.214750    b'Normal'
309     123.945244                 -0.199249    b'Normal'

[310 rows x 7 columns]

ARFF is a file type, specially created for machine learning.

We can use `arff.loadarff` to read a arff file.

After which, we can convert the arff into a pandas type

In [10]:
df2 = pd.read_excel('../data2.xlsx',index_col=0)
df2.to_json('data2.json')
df2

          Age   Salary Married
Name
Jenny    54.0  72000.0       Y
Tommy    27.0  48000.0       N
Gilbert  30.0  54000.0       N
Dorothy  38.0  61000.0       Y
David    40.0      NaN       N
Francis  35.0  58000.0       N
Julie     NaN  52000.0       N
Apple    48.0  79000.0       Y
Peter    50.0  83000.0       N
Joe      37.0  67000.0       Y

Using pandas, we can use the read_excel function to extract data from an excel file.
It will return a panda dataframe